.vagas-container {
    padding: 20px;
    width: 100%;
    height: 70vw;
    background-color: rgb(234, 234, 234);
    border-radius: 7vw;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 4vw;
  }
  