name: Deploy FastAPI backend to Azure Web App - fluxo-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: fluxo-api
  AZURE_WEBAPP_PACKAGE_PATH: ./serverapp
  PYTHON_VERSION: '3.12'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      # Aqui ele só testa se as libs instalam de boa
      - name: Instalar dependências (serverapp)
        working-directory: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Login na Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_ED0CAA8E465B47F990CCEF74C285B971 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_A9B02DF08DE64A0BB11778AA96533B2D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_DA2F26561F5D468CB82B2AB5AF5F78BA }}

      - name: Deploy para Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          slot-name: 'production'
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
