name: Build and deploy Python app to Azure Web App - taskusbr

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read # Necessário para o actions/checkout

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # Build rodando DENTRO da pasta serverapp
      - name: Criar venv e instalar dependências
        working-directory: ./serverapp
        run: |
          python -m venv antenv
          source antenv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

      # Enviar APENAS a pasta serverapp (sem a venv) como artifact
      - name: Upload artifact para o job de deploy
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            serverapp
            !serverapp/antenv/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download do artifact do job de build
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Login no Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_927180F2CB48400B8F6EC70849D12285 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_6209A07C7F644EB59FB71FAFC89BE248 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_5AE2F3E1954A4988A718AB2B8F777026 }}

      - name: Deploy para Azure Web App
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'taskusbr'
          slot-name: 'Production'
          package: .
